.cabeceraGridOterHerFran {
  border-bottom: 2px solid black;
}

.sectionGridOterHerFran__OterHerFranContenedor2ConBordeAzul {
  border: 2px solid blue;
}

body {
  background: #74eafa;
  margin: 1%;
}

img {
  max-width: 100%;
  height: auto;
}

.cabeceraGridOterHerFran {
  display: grid;
  grid-template-columns: 75% 25%;
  min-height: 100px;
}
.cabeceraGridOterHerFran__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabeceraGridOterHerFran__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.cabeceraGridOterHerFran__license {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.sectionGridOterHerFran {
  display: grid;
  grid-template-columns: 80% 20%;
  min-height: 400px;
  margin-top: 20px;
  column-gap: 5px;
}
.sectionGridOterHerFran__OterHerFranContenedor1ConBordeVerde {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionGridOterHerFran__OterHerFranContenedor2ConBordeAzul {
  padding: 35px;
}
.sectionGridOterHerFran__OterHerFranContenedor2ConBordeAzul > p {
  text-align: center;
}

.pieGridOterHerFran {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  min-height: 100px;
  box-sizing: border-box;
  column-gap: 8px;
  padding: 10px;
  margin-top: 20px;
}
.pieGridOterHerFran__uno {
  padding: 25px;
  border: 2px solid brown;
}
.pieGridOterHerFran__dos {
  padding: 25px;
  border: 2px solid brown;
}
.pieGridOterHerFran__dos > audio, .pieGridOterHerFran__dos button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.pieGridOterHerFran__tres {
  padding: 25px;
  border: 2px solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pieGridOterHerFran__tres > a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 500px) {
  .cabeceraGridOterHerFran {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100px;
  }
  .cabeceraGridOterHerFran__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabeceraGridOterHerFran__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    grid-column: 1/3;
  }
  .cabeceraGridOterHerFran__license {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
  }

  .sectionGridOterHerFran {
    display: grid;
    grid-template-columns: 100%;
    min-height: 400px;
    margin-top: 20px;
    column-gap: 5px;
  }
  .sectionGridOterHerFran__OterHerFranContenedor1ConBordeVerde {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionGridOterHerFran__OterHerFranContenedor2ConBordeAzul {
    padding: 35px;
  }
  .sectionGridOterHerFran__OterHerFranContenedor2ConBordeAzul > p {
    text-align: center;
  }

  .pieGridOterHerFran {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100px;
    box-sizing: border-box;
    column-gap: 8px;
    padding: 10px;
    margin-top: 20px;
  }
  .pieGridOterHerFran__uno {
    padding: 25px;
    border: 2px solid brown;
  }
  .pieGridOterHerFran__uno .boton {
    width: 200px;
    height: 200px;
    background-image: url("../img/Recurso6.png");
    background-repeat: no-repeat;
  }
  .pieGridOterHerFran__dos {
    padding: 25px;
    border: 2px solid brown;
  }
  .pieGridOterHerFran__dos > audio, .pieGridOterHerFran__dos button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .pieGridOterHerFran__tres {
    padding: 25px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pieGridOterHerFran__tres > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
}

/*# sourceMappingURL=Style1_Oter_Her_Fran.css.map */
